<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <context-param>
        <description>Pilote JDBC</description>
        <param-name>piloteJDBC</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <description>URL de la BD</description>
        <param-name>urlBd</param-name>
        <param-value>jdbc:mysql://localhost/biblio?user=root&amp;password=root</param-value>
    </context-param>
    <servlet>
        <servlet-name>ControleurFrontal</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.ControleurFrontal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherAccueil</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AfficherAccueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherCatalogue</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AfficherCatalogue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherDetails</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AfficherDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherLogin</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AfficherLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connection</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherReservations</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AfficherReservations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherEmprunts</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AfficherEmprunts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherGestionCatalogue</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AfficherGestionCatalogue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherAjoutOuvrage</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AfficherAjoutOuvrage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherAjoutEdition</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AfficherAjoutEdition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherGestionCompte</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AfficherGestionCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherSuggestion</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AfficherSuggestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherGestionSuggestion</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AfficherGestionSuggestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterOuvrage</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AjouterOuvrage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerOuvrage</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.SupprimerOuvrage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherModOuvrage</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AfficherModOuvrage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierOuvrage</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.ModifierOuvrage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherModAuteur</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AfficherModAuteur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierAuteur</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.ModifierAuteur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditionDAO</servlet-name>
        <servlet-class>com.robillard.bibliotheque.modele.dao.EditionDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerEdition</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.SupprimerEdition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterEdition</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AjouterEdition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherModEdition</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AfficherModEdition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierEdition</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.ModifierEdition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reserver</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.Reserver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterExemplaire</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.AjouterExemplaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerExemplaire</servlet-name>
        <servlet-class>com.robillard.bibliotheque.controlleur.SupprimerExemplaire</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleurFrontal</servlet-name>
        <url-pattern>/go</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherAccueil</servlet-name>
        <url-pattern>/AfficherAccueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherCatalogue</servlet-name>
        <url-pattern>/AfficherCatalogue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherDetails</servlet-name>
        <url-pattern>/AfficherDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherLogin</servlet-name>
        <url-pattern>/AfficherLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connection</servlet-name>
        <url-pattern>/Connection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherReservations</servlet-name>
        <url-pattern>/AfficherReservations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherEmprunts</servlet-name>
        <url-pattern>/AfficherEmprunts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherGestionCatalogue</servlet-name>
        <url-pattern>/AfficherGestionCatalogue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherAjoutOuvrage</servlet-name>
        <url-pattern>/AfficherAjoutOuvrage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherAjoutEdition</servlet-name>
        <url-pattern>/AfficherAjoutEdition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherGestionCompte</servlet-name>
        <url-pattern>/AfficherGestionCompte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherSuggestion</servlet-name>
        <url-pattern>/AfficherSuggestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherGestionSuggestion</servlet-name>
        <url-pattern>/AfficherGestionSuggestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterOuvrage</servlet-name>
        <url-pattern>/AjouterOuvrage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerOuvrage</servlet-name>
        <url-pattern>/SupprimerOuvrage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherModOuvrage</servlet-name>
        <url-pattern>/AfficherModOuvrage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierOuvrage</servlet-name>
        <url-pattern>/ModifierOuvrage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherModAuteur</servlet-name>
        <url-pattern>/AfficherModAuteur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierAuteur</servlet-name>
        <url-pattern>/ModifierAuteur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditionDAO</servlet-name>
        <url-pattern>/EditionDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerEdition</servlet-name>
        <url-pattern>/SupprimerEdition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterEdition</servlet-name>
        <url-pattern>/AjouterEdition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherModEdition</servlet-name>
        <url-pattern>/AfficherModEdition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierEdition</servlet-name>
        <url-pattern>/ModifierEdition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reserver</servlet-name>
        <url-pattern>/Reserver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterExemplaire</servlet-name>
        <url-pattern>/AjouterExemplaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerExemplaire</servlet-name>
        <url-pattern>/SupprimerExemplaire</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
